USE [master]
GO
/****** Object:  Database [Control_Personal]    Script Date: 20/02/2026 22:08:16 ******/
CREATE DATABASE [Control_Personal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Control_Personal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Control_Personal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Control_Personal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Control_Personal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Control_Personal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Control_Personal]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 20/02/2026 22:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id_Empleado] [char](10) NOT NULL,
	[Ape_Paterno] [varchar](50) NOT NULL,
	[Ape_Materno] [varchar](50) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[DNI] [char](8) NOT NULL,
	[Direccion] [varchar](150) NULL,
	[Foto] [binary](150) NULL,
	[Estado] [bit] NOT NULL,
	[SBasicoHora] [money] NULL,
	[SHorasExtraHora] [money] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vListaEmpleados]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vListaEmpleados]
AS
SELECT        Id_Empleado, Nombres + ' ' + Ape_Paterno + ' ' + Ape_Materno AS NOMBRES
FROM            dbo.Empleados
GO
/****** Object:  Table [dbo].[Marcaciones]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcaciones](
	[Id_Marcacion] [int] IDENTITY(1,1) NOT NULL,
	[Id_Empleado] [char](10) NOT NULL,
	[Fecha] [date] NOT NULL,
	[H_Ingreso] [time](7) NOT NULL,
	[HS_Refrigerio] [time](7) NOT NULL,
	[HI_Refrigerio] [time](7) NOT NULL,
	[H_Salida] [time](7) NOT NULL,
	[TH_Refrigerio] [char](10) NOT NULL,
	[TH_Trabajadas] [char](10) NOT NULL,
	[Observacion] [varchar](500) NULL,
 CONSTRAINT [PK_Marcaciones] PRIMARY KEY CLUSTERED 
(
	[Id_Marcacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vMarcaciones]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vMarcaciones]
AS
SELECT        dbo.Empleados.Ape_Paterno, dbo.Empleados.Ape_Materno, dbo.Empleados.Nombres, dbo.Marcaciones.Fecha, dbo.Marcaciones.H_Ingreso, dbo.Marcaciones.HS_Refrigerio, dbo.Marcaciones.HI_Refrigerio, 
                         dbo.Marcaciones.H_Salida, dbo.Marcaciones.TH_Refrigerio, dbo.Marcaciones.TH_Trabajadas, dbo.Marcaciones.Observacion
FROM            dbo.Empleados INNER JOIN
                         dbo.Marcaciones ON dbo.Empleados.ID_Empleado = dbo.Marcaciones.Id_Empleado
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [char](25) NOT NULL,
	[Clave] [char](25) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Perfil] [char](25) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vUsuarios]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vUsuarios]
AS
SELECT        IdUsuario, Usuario, Clave, Estado, Perfil
FROM            dbo.Usuarios
GO
/****** Object:  Table [dbo].[Faltas]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faltas](
	[Id_Faltas] [int] IDENTITY(1,1) NOT NULL,
	[Id_Empleado] [char](10) NOT NULL,
	[TH_Faltas] [date] NOT NULL,
	[SPF] [money] NOT NULL,
	[TD_Faltas] [money] NOT NULL,
	[Descuento] [money] NULL,
 CONSTRAINT [PK_Faltas] PRIMARY KEY CLUSTERED 
(
	[Id_Faltas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horas_Extras]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horas_Extras](
	[Id_HExtra] [int] IDENTITY(1,1) NOT NULL,
	[Id_Empleado] [char](10) NOT NULL,
	[HE_Ingreso] [date] NOT NULL,
	[HE_Salida] [date] NOT NULL,
	[THE_Trabajadas] [date] NOT NULL,
	[SH_Extras] [money] NOT NULL,
	[Motivo] [varchar](50) NULL,
 CONSTRAINT [PK_Horas_Extras] PRIMARY KEY CLUSTERED 
(
	[Id_HExtra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salario]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salario](
	[Id_Salario] [int] IDENTITY(1,1) NOT NULL,
	[Id_Empleado] [char](10) NOT NULL,
	[STH_Normales] [money] NOT NULL,
	[STH_Extras] [money] NOT NULL,
	[T_Descuento] [money] NOT NULL,
	[S_Total] [money] NOT NULL,
 CONSTRAINT [PK_Salario] PRIMARY KEY CLUSTERED 
(
	[Id_Salario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tardanzas]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tardanzas](
	[Id_Tardanza] [int] IDENTITY(1,1) NOT NULL,
	[Id_Empleado] [char](10) NOT NULL,
	[TH_Tardanza] [date] NULL,
	[SH_Tardanza] [money] NULL,
	[TT_Descuento] [money] NULL,
	[Motivo] [varchar](50) NULL,
 CONSTRAINT [PK_Tardanzas] PRIMARY KEY CLUSTERED 
(
	[Id_Tardanza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Empleados]    Script Date: 20/02/2026 22:08:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Empleados] ON [dbo].[Empleados]
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Faltas]  WITH CHECK ADD  CONSTRAINT [FK_Faltas_Empleados] FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleados] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Faltas] CHECK CONSTRAINT [FK_Faltas_Empleados]
GO
ALTER TABLE [dbo].[Horas_Extras]  WITH CHECK ADD  CONSTRAINT [FK_Horas_Extras_Empleados] FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleados] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Horas_Extras] CHECK CONSTRAINT [FK_Horas_Extras_Empleados]
GO
ALTER TABLE [dbo].[Marcaciones]  WITH CHECK ADD  CONSTRAINT [FK_Marcaciones_Empleados] FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleados] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Marcaciones] CHECK CONSTRAINT [FK_Marcaciones_Empleados]
GO
ALTER TABLE [dbo].[Salario]  WITH CHECK ADD  CONSTRAINT [FK_Salario_Empleados] FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleados] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Salario] CHECK CONSTRAINT [FK_Salario_Empleados]
GO
ALTER TABLE [dbo].[Tardanzas]  WITH CHECK ADD  CONSTRAINT [FK_Tardanzas_Empleados] FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleados] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Tardanzas] CHECK CONSTRAINT [FK_Tardanzas_Empleados]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMarcacion]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertMarcacion]
    --@Id_Marcacion INT,
    @Id_Empleado CHAR(10),
    @Fecha DATE,
    @H_Ingreso TIME,
    @HS_Refrigerio TIME,
    @HI_Refrigerio TIME,
    @H_Salida TIME,
    @TH_Refrigerio TIME,
    @TH_Trabajadas TIME,
    @Observacion VARCHAR(255),
    @MENSAJE NVARCHAR(255) OUTPUT
AS
BEGIN
    BEGIN TRY
        DECLARE @TOPIDMAR INT;
        DECLARE @Id_Marcacion CHAR(5)
        -- Selecciona el Id_Marcacion más reciente para el empleado y la fecha especificada
        SET @TOPIDMAR = (SELECT TOP 1 Id_Marcacion FROM Marcaciones M WHERE M.Id_Empleado = @Id_Empleado AND M.Fecha = @Fecha ORDER BY Id_Marcacion DESC);
        SET @Id_Marcacion = @TOPIDMAR;

        -- Verifica si ya existe una marcación para el empleado en la fecha dada
        SELECT M.Id_Empleado, M.Fecha, M.Id_Marcacion
        INTO #TEMPORAL
        FROM Marcaciones M
        WHERE M.Id_Empleado = @Id_Empleado
        AND M.Fecha = @Fecha;

        IF EXISTS(SELECT 1 FROM #TEMPORAL)
        BEGIN
            -- Actualiza la marcación existente
            UPDATE Marcaciones 
            SET H_Ingreso = @H_Ingreso, 
                HS_Refrigerio = @HS_Refrigerio, 
                HI_Refrigerio = @HI_Refrigerio, 
                H_Salida = @H_Salida, 
                TH_Refrigerio = @TH_Refrigerio, 
                TH_Trabajadas = @TH_Trabajadas, 
                Observacion = @Observacion
            WHERE Id_Marcacion = @Id_Marcacion
            AND Id_Empleado = @Id_Empleado
            AND Fecha = @Fecha;
        END
        ELSE
        BEGIN
            -- Inserta una nueva marcación si no existe
            INSERT INTO Marcaciones (Id_Empleado, Fecha, H_Ingreso, HS_Refrigerio, HI_Refrigerio, H_Salida, TH_Refrigerio, TH_Trabajadas, Observacion)
            VALUES (@Id_Empleado, @Fecha, @H_Ingreso, @HS_Refrigerio, @HI_Refrigerio, @H_Salida, @TH_Refrigerio, @TH_Trabajadas, @Observacion);
        END

        SET @MENSAJE = 'La marcacion se realizó con éxito.';
    END TRY
    BEGIN CATCH
        SET @MENSAJE = 'Error en la inserción: ' + ERROR_MESSAGE();
    END CATCH

    -- Elimina la tabla temporal
    IF OBJECT_ID('tempdb..#TEMPORAL') IS NOT NULL
    BEGIN
        DROP TABLE #TEMPORAL;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spAbcUsuario]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAbcUsuario]
@Accion varchar(15),
@IdUsuario int,
@Usuario char(25),
@Clave char(25),
@Estado bit,
@Perfil char(25)
AS
IF @Accion='INSERTAR'
	BEGIN
		INSERT INTO Usuarios(Usuario,Clave,Estado,Perfil)
		VALUES(@Usuario,HASHBYTES('MD5',@Clave),@Estado,@Perfil)
	END
IF @Accion='ELIMINAR'
	BEGIN
		--DELETE FROM Usuarios WHERE IdUsuario=@IdUsuario
		UPDATE Usuarios SET Usuario=@Usuario, Clave=@Clave, Estado=0,Perfil=@Perfil
		WHERE IdUsuario=@IdUsuario
	END
IF @Accion='ACTUALIZAR'
	BEGIN
		UPDATE Usuarios SET Usuario=@Usuario, Clave=HASHBYTES('MD5',@Clave), Estado=@Estado,Perfil=@Perfil
		WHERE IdUsuario=@IdUsuario
	END
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spBuscarEmpleado]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spBuscarEmpleado]
@dni char(8)
as
select E.Id_Empleado AS ID, e.Nombres + ' ' + e.Ape_Paterno + ' ' + e.Ape_Materno as [Nombres y Apellidos] from Empleados E
where DNI=@dni
GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spLogin]
@usuario char(35),
@clave char(25)
as
select U.usuario,u.Clave,U.Estado,U.Perfil from Usuarios U
	WHERE Usuario=@usuario and Clave=@clave
GO
/****** Object:  StoredProcedure [dbo].[spMarcacionEmpleado]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMarcacionEmpleado]
@DNI INTEGER,
@FECHA DATE
AS
BEGIN
	SELECT M.Id_Marcacion, E.Nombres + ' ' + E.Ape_Paterno + ' '+ E.Ape_Materno AS [Nombres y Apellidos],
	M.H_Ingreso,
	M.HS_Refrigerio,
	M.HI_Refrigerio,
	M.H_Salida,
	M.Fecha,
	M.Observacion
	FROM Empleados e
	INNER JOIN Marcaciones m
	ON E.ID_Empleado = M.Id_Empleado
	WHERE E.DNI = @DNI
	AND m.Fecha = @FECHA
END

--EXEC spMarcacionEmpleado 40934929
GO
/****** Object:  StoredProcedure [dbo].[spMarcaciones]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spMarcaciones]
@fecha1 date,
@fecha2 date
as
SELECT      dbo.Empleados.Ape_Paterno,dbo.Empleados.Ape_Materno,dbo.Empleados.Nombres,
			CONVERT(char(10),Marcaciones.Fecha,103)as Fecha,dbo.Marcaciones.H_Ingreso, dbo.Marcaciones.HS_Refrigerio, 
			dbo.Marcaciones.HI_Refrigerio, dbo.Marcaciones.H_Salida, dbo.Marcaciones.TH_Refrigerio, 
			dbo.Marcaciones.TH_Trabajadas, Observacion
FROM        dbo.Empleados INNER JOIN
						 dbo.Marcaciones ON dbo.Empleados.ID_Empleado = dbo.Marcaciones.Id_Empleado
WHERE Fecha between @fecha1 and @fecha2
ORDER BY Marcaciones.Fecha
GO
/****** Object:  StoredProcedure [dbo].[spMarcacionXFecha]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMarcacionXFecha] 
@ID CHAR(10),
@FECHA_DESDE DATE,
@FECHA_HASTA DATE
AS
BEGIN
	SELECT
		e.Ape_Paterno +' '+
	   e.Ape_Materno + ' '+
	   e.Nombres AS NOMBRES
	   ,m.Fecha
	   ,m.H_Ingreso
	   ,m.HS_Refrigerio
	   ,m.HI_Refrigerio
	   ,m.H_Salida
	   ,m.TH_Refrigerio
	   ,m.TH_Trabajadas
	   ,m.Observacion
	FROM dbo.Empleados e
	INNER JOIN dbo.Marcaciones m
		ON e.Id_Empleado = m.Id_Empleado
	WHERE (ISNULL(@ID, '') = ''
	OR e.Id_Empleado = @ID)
	AND (m.Fecha BETWEEN @FECHA_DESDE AND @FECHA_HASTA);
END
GO
/****** Object:  StoredProcedure [dbo].[spUltimoUsuario]    Script Date: 20/02/2026 22:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[spUltimoUsuario]
as
SELECT TOP 1 U.IdUsuario
	FROM Usuarios U
	ORDER BY U.IdUsuario DESC
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Empleados"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 265
               Right = 363
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 2910
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vListaEmpleados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vListaEmpleados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Empleados"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Marcaciones"
            Begin Extent = 
               Top = 99
               Left = 515
               Bottom = 339
               Right = 780
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vMarcaciones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vMarcaciones'
GO
USE [master]
GO
