<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cnx" connectionString="Data Source=.;Initial Catalog=Control_Personal;Integrated Security=True" />
    <add name="GUI.Properties.Settings.Control_PersonalConnectionString"
      connectionString="Data Source=.;Initial Catalog=Control_Personal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>