## Ignorar carpetas de compilación y temporales
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.suo
*.userossc
*.sln.docstates

## Archivos de configuración y entornos
.vs/
.vscode/
*.userprefs
*.csproj.user

## Archivos de bases de datos locales
*.mdf
*.ldf
*.sdf

## Paquetes de NuGet
*.nupkg
packages/

## Otros archivos
thumbs.db
.DS_Store
